
.start{
    
        display: flex ;
        margin-top: 25px;
        width: 200px;
        height: 60px !important;
        color: white !important;
        font-size: 18px;
        text-transform: capitalize;
        justify-content: center;
        align-items: center;
       background-color: rgba(195, 126, 14, 0.759);
       &:hover{
        color: black !important;
    }
        
}